*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: monospace;
}
html,body{
    height : 100%;
    width : 100%;
}

section{
    height : 100%;
    width : 100%;
    /* background-color: lightseagreen; */
}

section.section-1{
    margin-bottom : 4rem;
}
nav{
    display : flex;
    align-items: center;
    justify-content: space-between;
    padding : 20px 75px;
}
.part-2{
    display : flex;
    align-items: center;
    justify-content: center;
    gap : 30px;
}

nav h1{
    font-size: 30px;
    font-weight : 900;
    display : flex;
    align-items: center;
    gap : .5rem;
}
nav h4{
    font-size: 15px;
    font-weight : 800;
}
nav button{
    padding : 10px 20px;
    font-size: 13x;
    border-radius : 5px;
    border : 2px solid black;
    font-weight : 700;
    background-color: transparent;
}
img#star {
    height: 3rem;
    rotate:45deg;
    display:inline-block;
}
.center{
    /* background-color: crimson; */
    height : 75%;
    width : 100%;
    display : flex;
    padding :  50px 75px
}
.center-1{
    /* background-color: lightblue; */
    height : 100%;
    width : 40%;
}
.center-2{
    /* background-color: lightblue; */
    height : 100%;
    width : 60%;
    position : relative;
}
.center-2 img{
    height : 100%;
    position : absolute;
    right : 0;
}

.center-1 h1{
    font-size : 47px;
    line-height : 1.2

}
.center-1 p{
    font-size : 18px;
    /* line-height : 1.2 */
    margin: 36px 0px;
}
.center-1 button{
    background-color: black;
    color :aliceblue;
    border-radius: 1rem;
    padding : 20px 40px;
    border : none;
    font-weight : 600;
    font-size: 16px;
}
.section1Bottom{
    display : flex;
    align-items: center;
    justify-content: space-between;
    padding : 30px 75px;
}
.section1Bottom img {
    height: 74px;
}

img.bigImg {
    height: 30px;
}
.services{
    /* background-color: red; */
    padding : 40px 75px;
    display : flex;
    align-items: center;
    justify-content: flex-start;
    gap : 3rem;
}
.services h3{
    background-color: #9AE975;
    font-size : 25px;
    padding: 5px
}
.services p{
    width : 50%;
    font-size : 13px;
}

.cardsContainer{
    padding : 40px 75px;
    display : flex; 
    flex-wrap :wrap;
    justify-content: space-between;
    row-gap: 3rem;
}

.styleCardWhite{
    width : 45%;
    border: 2px solid black;
    border-radius : 15px;
    display : flex;
    height : 16rem;
    padding : 20px;
    gap : 3rem;
    border-bottom: 8px solid black;
}

.left{
    display : flex;
    flex-direction : column;
    justify-content: space-between;
    width : 50%;
}

.left h3{
    font-size : 30px;
    background-color: #9AE975;
}

.card-2 .left h3{
    background-color: white;
}
.card-2 .learn p{
    color : white;
}
.card-3 .learn p{
    color : white;
}
.card-3 .left h3{
    background-color: white;
}

.learn{
    display : flex;
    align-items: center;
    justify-content: space-between;
    width : 45%;
}

.learn img{
    height : 2rem;
    border: 1px solid black;
    border-radius : 50%;
    background-color: #111;
}

.card-2 .learn img{
    background-color: white;
}
.card-3 .learn img{
    background-color: white;
}



.right img{
    height : 100%
}

.styleCardBlack{
    width : 45%;
    border: 2px solid black;
    border-radius : 15px;
    display : flex;
    height : 16rem;
    padding : 20px;
    gap : 3rem;
    background-color: #111;
    border-bottom: 8px solid black;
}

.overAllcontainer{
    display : flex;
    border : 2px solid black;
    margin : 10rem 75px;
    padding : 40px;
    height : 40%;
    justify-content: space-between;
    position: absolute;
    left : 10%;
}

.overAllContainer .leftSide{
    display : flex;
}

.section-3 .right img{
    height : 100%;
}